.comment {
    display: flex;
    padding: 0.5rem;
    gap: 10px;
}

.comment .avatar {
    height: 35px;
    width: 35px;
}

.comment .details {
    background-color: rgba(166, 165, 165, 0.2);
    position: relative;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.2);
}

.comment .info {
    display: flex;
    gap: 10px;
    font-size: 0.75rem;
    margin-left: 10px;
}

.comment .username {
    font-weight: 700;
}

.comment .like {
    cursor: pointer;
    font-weight: 600;
}

.comment .comment-buttons {
    position: absolute;
    display: flex;
    gap: 10px;
    top: 10px;
    right: 10px;
}
