.postedby {
    font-size: 12px;
}

.post-img {
    width: 80%;
    margin: 0 auto;
}

.post {
    position: relative;
    background-color: aliceblue;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.post-header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.post-header .datetime {
    font-size: 0.75rem;
}

.post-header .username {
    font-size: 1.125rem;
    font-weight: 700;
}

.post p {
    margin-bottom: 0;
}

.post-buttons {
    display: flex;
    gap: 10px;
    padding-block: 5px;
}

.post-buttons>* {
    flex-grow: 1;
    flex-basis: 50%;
}

.post .post-icons {
    position: absolute;
    display: flex;
    gap: 10px;
    top: 20px;
    right: 20px;
}