#navbar {
  /* position: fixed;
    top: 0;
    left: 0;
    width: 100%; */
  background-color: aliceblue;
  /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 100; */
}

.navbar-right,
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar-brand {
  font-size: 2rem !important;
}

.navbar-brand img {
  width: 40px;
}

.navbar-right h5 {
  margin-bottom: 0;
}