#profile-card {
    height: 100vh;
}

img {
    width: 100%;
}

#profile-card .avatar,
#profile-card .fallback {
    /* position: absolute; */
    /* top: 0;
    margin-inline: auto;
    transform: translateY(-50%);
    transform-origin: 50% 0; */
}

#profile-card .details {
    position: relative;
    padding: 20px;
    padding-top: 160px;
    background-color: aliceblue;
    text-align: center;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.photo-images>* {
    border-radius: 15px;
    aspect-ratio: 1;
    object-fit: cover;
}

.cover-photo {
    border-radius: 20px 20px 0 0;
}

.fa-pencil-square-o {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 10px;
}

.avatar-container {
    position: absolute;
    top: 0;
    margin-inline: auto;
    transform: translateY(-50%);
    transform-origin: 50% 0;
}