#find-friends {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 20px;
    height: 50%;
    width: 50%;
    z-index: 100;
    overflow: scroll;
}

#friendProfile{
    height: auto;
    width: auto;
    padding-top: 20px;
    display: flex;
    gap:20px;
    flex-direction: column;
}

#friendProfile .avatar{
    height: auto;
}

#closebtn{
    margin-left: 630px;

}

body{

    background: #d1d5db;
}

.height{

    height: 100vh;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
    padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}