#friend-profile {
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    height: 130px;
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: "center";
    align-items: "center";
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    flex-wrap: wrap;
}

#friend-profile .avatar {
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    border: solid rgba(166, 165, 165, 0.2) 5px;
    border-radius: 50%;
    height: 60%;
    width: 30%;
}

#friend-profile .avatar:hover { 
    border: solid #0275d8 5px;
}

#friend-profile .username {
    font-size: 15px;
    margin: auto auto auto auto;
    flex: 3;
}